{% extends 'base.html' %}

{% load static %}  
{% block content %}
<h1>Уведомления</h1>
<ul id="notification-list">
    {% for notification in notifications %}
    <li class="notification-item" data-id="{{ notification.id }}">
        {{ notification.message }} - {{ notification.created_at }}
        <button class="close-notification" onclick="closeNotification(this)">×</button>
    </li>
    {% endfor %}
</ul>

<script src="{% static 'notification/js/notifications.js' %}"></script>  
 
{% endblock %}