{% extends 'base.html' %}

{% block content %}
    <title>Login</title>
    <h1>Login</h1>
    <form id="login-form" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <div id="error-message" class="error" style="display:none;"></div>
    <p>Нет аккаунта? <a href="{% url 'accounts:registration' %}">Зарегистрироваться</a></p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Функция для получения CSRF-токена из cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function() {
    $('#login-form').on('submit', function(e) {
        e.preventDefault();
        const email = $('input[name="email"]').val();
        const password = $('input[name="password"]').val();

        $.ajax({
            type: 'POST',
            url: '{% url "accounts:token_obtain_pair" %}',
            contentType: 'application/json',
            data: JSON.stringify({
                username: email,
                password: password
            }),
            success: function(response) {
                localStorage.setItem('access_token', response.access);
                localStorage.setItem('refresh_token', response.refresh);
                window.location.href = '{% url "accounts:profile" %}';

            },
            error: function(xhr) {
                $('#error-message').text(xhr.responseJSON.detail || 'Произошла ошибка').show();
                console.error(xhr.responseJSON);  // Логирование полного ответа об ошибке для отладки
            }
        });
    });
});

    </script>
{% endblock %}
