<!-- galery/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
</head>
<body>
    <h1>Photo Gallery</h1>

    <h1>{{ photo.image }}</h1>
    <ul>
        {% for photo in photos %}
            <li>{{ photo.title }} - {{ photo.description }}</li>
            {% if photo.image %}
                <li><img src="{{ photo.image.url }}" alt="{{ photo.title }}"></li>
                <a href="{% url 'photo' photo.id %}">Посмотреть</a>
                <li>{{photo.author }}</li>
            {% else %}
                <li>No image available</li>
            {% endif %}
        {% endfor %}
    </ul>

</body>
</html>