{% extends 'base.html' %}

{% block content %}
<title>{{ photo.title }}</title>

<div class="container mt-4">
    <h1>{{ photo.title }}</h1>

    {% if photo.image %}
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-fluid" style="max-height: 400px; object-fit: cover;">
    {% else %}
        <p>Изображение недоступно.</p>
    {% endif %}
    
    <p>{{ photo.description }}</p>
    <p>Автор: {{ photo.author.username }}</p>
    
    {% if photo.author.avatar %}
        <img src="{{ photo.author.avatar.url }}" alt="{{ photo.author.username }}" class="rounded-circle" style="width: 50px; height: 50px;">
    {% else %}
        <img src="{{ default_image }}" alt="Default Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
    {% endif %}

    <h3>Комментарии:</h3>
    <ul class="list-unstyled">
        {% for comment in comments %}
            <li class="mb-2">
                <strong>{{ comment.author.username }}:</strong> {{ comment.text }}
            </li>
        {% empty %}
            <li>Комментариев пока нет.</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <form action="{% url 'galery:add_comment' photo.id %}" method="post" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="text" class="form-control" required placeholder="Добавьте комментарий..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </form>
    {% else %}
        <p>Чтобы добавить комментарий, вам нужно <a href="{% url 'login' %}">войти</a>.</p>
    {% endif %}
    
    <h3>Лайки: {{ photo.votes.count }}</h3>

    {% if user.is_authenticated %}
        {% if has_liked %}
            <form action="{% url 'galery:remove_vote' photo.pk %}" method="post" class="remove-like-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Убрать лайк</button>
            </form>
        {% else %}
            <form action="{% url 'galery:add_vote' photo.pk %}" method="post" class="like-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Лайк</button>
            </form>
        {% endif %}
    {% else %}
        <p>Чтобы поставить лайк, вам нужно <a href="{% url 'login' %}">войти</a>.</p>
    {% endif %}
</div>

{% endblock %}
